.u-section-1 .u-sheet-1 {
  min-height: 942px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Poppins;
  margin: 21px auto 0 41px;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 600;
  margin: 19px auto 0 41px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-family: Poppins;
  margin: 20px auto 0 41px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-family: Poppins;
  margin: 20px 21px 0 40px;
}

.u-section-1 .u-image-1 {
  width: 939px;
  height: 625px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  margin: 15px auto 0 38px;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  margin: 20px auto 0 38px;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  margin: 38px auto 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px auto 0 153px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -86px 240px 0 auto;
}

.u-section-2 .u-text-6 {
  font-family: Poppins;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -86px auto 0;
}

.u-section-2 .u-text-7 {
  font-family: Poppins;
  font-size: 1.125rem;
  margin: 54px auto 0 38px;
}

.u-section-2 .u-text-8 {
  font-family: Poppins;
  margin: 20px 38px 0;
}

.u-section-2 .u-text-9 {
  font-family: Poppins;
  margin: 20px auto 0 38px;
}

.u-section-2 .u-text-10 {
  font-family: Poppins;
  margin: 22px auto 0 38px;
}

.u-section-2 .u-text-11 {
  font-family: Poppins;
  margin: 19px 38px 0;
}

.u-section-2 .u-text-12 {
  font-family: Poppins;
  font-weight: 600;
  margin: 20px auto 0 38px;
}

.u-section-2 .u-text-13 {
  font-family: Poppins;
  margin: 21px auto 0 38px;
}

.u-section-2 .u-text-14 {
  font-size: 2.25rem;
  font-family: Poppins;
  margin: 107px auto -86px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-5 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-4 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 113px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 787px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  margin: 131px 38px 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  margin: 39px 38px 0;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  margin: 37px 38px 0;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  margin: 20px 38px 0;
}

.u-section-3 .u-text-5 {
  font-family: Poppins;
  margin: 20px 38px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-family: Poppins;
  margin: 38px 38px 0;
}

.u-section-3 .u-text-7 {
  font-family: Poppins;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-family: Poppins;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 60px;
  font-family: Poppins;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-bottom: 60px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  margin: 20px 0 0 20px;
}

.u-section-4 .u-text-3 {
  font-family: Poppins;
  margin: 20px 0 0 20px;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  margin: 20px 0 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
}