.u-section-1 .u-sheet-1 {
  min-height: 499px;
}

.u-section-1 .u-text-1 {
  font-size: 3.125rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 139px 525px 60px 20px;

}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 0.3;
    margin-right: 201px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  --color-var: #d9d9d9;
}

.u-section-2 .u-sheet-1 {
  min-height: 478px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
  --color-var: #d9d9d9;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 14px;
}

.u-section-2 .u-text-1 {
  font-size: 2rem;
  font-family: Poppins;
  margin: 0 5px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 300;
  margin: 67px 1px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 20px;
  --top-left-radius: 20px;
  --bottom-right-radius: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Poppins;
  margin: 102px auto 0 0;
  padding: 10px 10px 10px 9px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  --color-var: #d9d9d9;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 380px;
  width: 538px;
  margin: 10px auto 0;
}
.u-list-item-1 .u-container-layout-1 {
    background-image: url('images/bg1.jpg'); /* path to your image */
    background-size: cover; /* makes image cover entire div */
    background-position: center; /* centers image */
    background-repeat: no-repeat;
}


@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    height: 313px;
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 56px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 155px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-2 .u-image-1 {
    height: 460px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 690px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 45px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-1 {
    height: 434px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 438px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 29px;
}

.u-section-3 .u-text-1 {
  font-size: 2rem;
  font-family: Poppins;
  margin: 0 50px 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px 50px 0 30px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 20px;
  --top-left-radius: 20px;
  --bottom-right-radius: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Poppins;
  margin: 136px auto 0 30px;
  padding: 10px 10px 10px 9px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 438px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 29px 21px;
}

.u-section-3 .u-text-3 {
  font-size: 2rem;
  font-family: Poppins;
  margin: 0 37px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 82px 37px 0 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 20px;
  --top-left-radius: 20px;
  --bottom-right-radius: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Poppins;
  margin: 59px auto 0 0;
  padding: 10px 10px 10px 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 117px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 200px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 32px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 289px;
}

.u-section-4 .u-group-1 {
  height: auto;
  --top-left-radius: 65px;
  --top-right-radius: 65px;
  min-height: 229px;
  --color-var: #d9d9d9;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 12px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 300;
  margin: 26px 223px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 300;
  margin: 19px 3px 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Poppins;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  --bottom-right-radius: 20px;
  font-size: 1rem;
  margin: 24px 24px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
    padding: 10px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    --top-left-radius: 40px;
    --top-right-radius: 40px;
    min-height: 198px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 21px;
    padding-right: 6px;
    padding-left: 5px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 437px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  width: 206px;
  margin: 43px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 237px;
  --gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 17px;
}

.u-section-5 .u-text-2 {
  font-family: Poppins;
  margin: 100px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 17px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 100px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 17px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 100px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 17px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 100px 0 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-top: -20px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 43px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 597px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 158px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 158px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 158px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 689px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  font-size: 2.25rem;
  margin: 54px 854px 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 53px;
}

.u-section-6 .u-repeater-1 {
  min-height: 513px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-6 .u-text-3 {
  font-family: Poppins;
  margin: 18px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-6 .u-text-5 {
  font-family: Poppins;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-6 .u-text-7 {
  font-family: Poppins;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-6 .u-text-9 {
  font-family: Poppins;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 654px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }

  .u-section-6 .u-image-1 {
    height: 236px;
  }

  .u-section-6 .u-image-2 {
    height: 236px;
  }

  .u-section-6 .u-image-3 {
    height: 236px;
  }

  .u-section-6 .u-image-4 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 434px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-6 .u-image-1 {
    height: 279px;
  }

  .u-section-6 .u-image-2 {
    height: 279px;
  }

  .u-section-6 .u-image-3 {
    height: 279px;
  }

  .u-section-6 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 254px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 484px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 484px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 484px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 54px;
  }

  .u-section-6 .u-image-1 {
    height: 298px;
  }

  .u-section-6 .u-image-2 {
    height: 298px;
  }

  .u-section-6 .u-image-3 {
    height: 298px;
  }

  .u-section-6 .u-image-4 {
    height: 298px;
  }
}
